* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@page {
    margin: 60px !important;
}

.label-sm {
    font-size: 21px;
}
.label-xs {
    font-size: 15px;
}

@font-face {
    font-family: 'Public Sans';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    src: url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,400;0,700;1,100&display=swap') format("truetype");
}

body {
    font-family: Public Sans, sans-serif;
}

header {
    text-align: right;
}

footer {
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0;

}

#report-header .wrapper-header .col-sec-1, #report-header .wrapper-header .col-sec-2 {
    float: left;
}

#report-header .wrapper-header .col-sec-1 {
    width: 10%;
}
#report-header .wrapper-header .col-sec-2 {
    width: 72%;
}

#report-header .wrapper-header .col-sec-3 {
    width: 18%;
    float: right;
}

#report-content {
    margin-top: 30px;
}

table {
    width: 100%;
    font-size: 17px;
}

table thead {
    background-color: rgb(99, 211, 123);
}

table, thead, tbody, tr, th, td {
    border: 0.3px solid rgb(165, 165, 165);
    border-spacing: 0;
}

table thead tr th {
    padding: 11px 5px;
}

table tbody tr td {
    padding: 5px;
}

#pricelist-table thead tr th:nth-child(1) {
    width: 50px;
    text-align: center;
}

#pricelist-table tbody tr td:nth-child(2) {
    width: 350px;
}

#pricelist-table thead tr th:nth-child(2) {
    text-align: left;
}

#pricelist-table tbody tr td:nth-child(3) {
    text-align: center;
}

#pricelist-table tbody tr td:nth-child(1), #pricelist-table tbody tr td:nth-child(4), #pricelist-table tbody tr td:nth-child(5) {
    text-align: center;
}
#pricelist-table tbody tr td:nth-child(6), #pricelist-table tbody tr td:nth-child(7), #pricelist-table tbody tr td:nth-child(8), #pricelist-table tbody tr td:nth-child(9), #pricelist-table tbody tr td:nth-child(10) {
    text-align: left;
}


#pricelist-table thead tr th:nth-child(6), #pricelist-table thead tr th:nth-child(7), #pricelist-table thead tr th:nth-child(8), #pricelist-table thead tr th:nth-child(9), #pricelist-table thead tr th:nth-child(10) {
    text-align: left;
}

#report-header .address {
    text-wrap: wrap;
    margin-left: auto;
    opacity: .50;
    margin-top: 10px;
    margin-bottom: 50px;
}

#report-content .title-content {
    margin-bottom: 20px;
}

#report-table thead {
    background-color: rgb(191, 197, 203);
}
#report-table tbody tr td:nth-child(1) {
    text-align: center;
}
#report-table tbody tr td:nth-child(4), #report-table tbody tr td:nth-child(5) {
    text-align: center;
}

#header-cust-quo {
    width: 500px;
    margin-bottom: 50px;
}


/* Page Quotation */
#report-content .current-date {
    float: right;
    text-align: right;
    overflow: auto;
}
#header-cust-quo, #header-cust-quo tbody, #header-cust-quo tr, #header-cust-quo th, #header-cust-quo td {
    border: none !important;
    text-align: left;
}

#header-cust-quo {
    font-size: 22px;
    line-height: 90%;
}
.wrapper-detail-cust {
    font-size: 22px;
}

.wrapper-detail-cust .wrapper-info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 120%;
}

.wrapper-detail-cust .table-info-no-sp {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    width: auto;
}

.wrapper-detail-cust .table-info-no-sp, .wrapper-detail-cust .table-info-no-sp td, .wrapper-detail-cust tr, .wrapper-detail-cust .table-info-no-sp tbody {
    border: none !important;
    line-height: 90%;
}

.wrapper-detail-cust .table-info-no-sp tr td:nth-child(1) {
    width: 140px;
}

.quo-item {
    clear: both;
}

.quo-item .quo-item-table thead tr th {
    text-align: left !important;
}

.quo-item .quo-item-table {
    font-size: 22px;
}

.quo-item .quo-item-table tbody tr td:nth-child(4), .quo-item .quo-item-table tbody tr td:nth-child(5) {
    text-align: left !important;
}
/* Page Quotation */


/* Page Print PO Internal Item */
.po-in-item {
    font-size: 23px !important;
}

.po-in-item thead tr th {
    text-align: left;
}

.po-in-item thead tr th:nth-child(2) {
    width: 170px
}

.po-in-item thead tr th:nth-child(1), .po-in-item thead tr th:nth-child(4), .po-in-item thead tr th:nth-child(5) {
    text-align: center !important;
}

.sum-po-in {
    margin-top: 30px;
    font-size: 23px !important;
    width: 40%;
    margin-left: auto;
}

.sum-po-in, .sum-po-in tbody, .sum-po-in tbody tr td, .sum-po-in tbody tr th {
    border: none !important;
}

.sum-po-in tbody tr th:nth-child(1) {
    text-align: left;
    width: 47%;
}


#header-cust-quo.invoice-detail th {
    vertical-align: top !important;
    line-height: 110%;
    /* text-wrap: wrap; */
}

#header-cust-quo.invoice-detail td {
    vertical-align: top !important;
}

#header-cust-quo.invoice-detail {
    width: 700px !important;
}

.wrapper-list-note li {
    font-size: 21px;
}

#table-pay-rek {
    font-size: 21px;
}

#table-pay-rek tbody tr th {
    text-align: left;
}

#table-pay-rek, #table-pay-rek tbody, #table-pay-rek tbody tr td {
    border: none !important;
}

#table-pay-rek tr td:nth-child(1) {
    width: 150px;
}

.sum-invoice {
    margin-top: 20px;
    width: 42%;
    margin-left: auto;
}
.sum-invoice, .sum-invoice tbody, .sum-invoice tbody tr td, .sum-invoice tbody tr th {
    border: none !important;
    font-size: 21px;
}

.sum-invoice tbody tr th:nth-child(1) {
    text-align: left;
}



/* End Page */