* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@page {
    margin: 60px !important;
}

.label-sm {
    font-size: 21px;
}
.label-xs {
    font-size: 15px;
}

@font-face {
    font-family: 'Public Sans';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    src: url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,400;0,700;1,100&display=swap') format("truetype");
}

body {
    font-family: Public Sans, sans-serif;
}

header {
    text-align: right;
}

footer {
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0;

}


table {
    width: 100%;
    font-size: 17px;
}

table thead {
    background-color: rgb(99, 211, 123);
}

table, thead, tbody, tr, th, td {
    border: 0.3px solid rgb(165, 165, 165);
    border-spacing: 0;
}

table thead tr th {
    padding: 11px 5px;
}

table tbody tr td {
    padding: 5px;
}

#pricelist-table thead tr th:nth-child(1) {
    width: 50px;
    text-align: center;
}

#pricelist-table tbody tr td:nth-child(2) {
    width: 350px;
}

#pricelist-table thead tr th:nth-child(2) {
    text-align: left;
}

#pricelist-table tbody tr td:nth-child(3) {
    text-align: center;
}

#pricelist-table tbody tr td:nth-child(1), #pricelist-table tbody tr td:nth-child(4), #pricelist-table tbody tr td:nth-child(5) {
    text-align: center;
}
#pricelist-table tbody tr td:nth-child(6), #pricelist-table tbody tr td:nth-child(7), #pricelist-table tbody tr td:nth-child(8), #pricelist-table tbody tr td:nth-child(9), #pricelist-table tbody tr td:nth-child(10) {
    text-align: left;
}


#pricelist-table thead tr th:nth-child(6), #pricelist-table thead tr th:nth-child(7), #pricelist-table thead tr th:nth-child(8), #pricelist-table thead tr th:nth-child(9), #pricelist-table thead tr th:nth-child(10) {
    text-align: left;
}

#product-header .address {
    /* width: 450px; */
    text-wrap: wrap;
    margin-left: auto;
    opacity: .50;
    margin-top: 10px;
    margin-bottom: 50px;
}

#product-content .title-content {
    margin-bottom: 20px;
}

#product-table thead {
    background-color: rgb(191, 197, 203);
}
#product-table tbody tr td:nth-child(1) {
    text-align: center;
}
#product-table tbody tr td:nth-child(4), #product-table tbody tr td:nth-child(5) {
    text-align: center;
}
